.app-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 7rem 0rem 3.5rem 0rem;
  max-width: 100%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #064E3B;
  flex-wrap: wrap;
  gap: 2rem;

}
.app-footer-inside{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 4rem;
  max-width: 1440px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Column 1 & 3 text links */
.footer-links a,
.footer-contact a {
  text-decoration: none;
  color: #064E3B;
  font-weight: 600;
  font-size: 1rem;
}
.footer-links text{
  text-decoration: none;
  color: #064E3B;
  font-weight: 600;
  font-size: 1rem;
}
.footer-links p{
  margin-bottom: 0.7rem;
}
.footer-links a:hover,
.footer-contact a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 0;
  font-weight: 600;
}

/* Store badges */
.footer-download {
  gap: 1rem;


}
.footer-download p {
  font-size: 1rem;
  font-weight: 600;

}
.footer-social-outer ,
.footer-download-outer{
 display: flex;
 flex-direction: column;
 
}

.footer-download img {
  height: 40px;
  width: auto;
}

/* Socials */
.footer-socials {
  flex-direction: row;
  gap: 1rem;
}


.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-social li a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: #004C45;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}
.footer-contact-heading {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.5rem;
  font-family: 'Lato', sans-serif;

}

.footer-contact-text {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  line-height: 1.4;
  margin-bottom: 0.75rem;
  font-family: 'Lato', sans-serif;
}

.footer-contact-email {
  font-size: 1rem;
  font-weight: 600;
  color: #064E3B;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.footer-contact-email:hover {
  text-decoration: underline;
}

.footer-social li a:hover {
  background-color: #e0e0e0;
  color: #004C45;
}

.footer-logo {
  height: 39px;
  width: 46px;
  margin-bottom: 1.25rem;
}

@media (max-width: 767px) {
  .app-footer {
    padding: 3rem 1rem;
  }

  .app-footer-inside {
    width: 100%;      
    height: 100%;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
    padding: 0rem 0rem;
  }

  .footer-col {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: flex-start;

    text-align: left;
  }
  .footer-links {
    width: 100%;

    padding: 0;         
    align-items: flex-start; 
    text-align: left;         
    margin: 0 auto;          
  }
  .footer-links a {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
    color: #064E3B;
    text-decoration: none;
    margin: 0.3rem 0;
  }

  .footer-download-outer p,
  .footer-contact-heading,
  .footer-social-outer p {
    font-size: 1rem;
    font-weight: 800;
    color: #000;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  
  .footer-contact-outer{
    display: flex;
    width: 100%;

  }
  .footer-download-outer{
    width: 100%;
  }
  .footer-contact {
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-download {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer-contact-text {
    font-size: 1rem;
    color: #000;
    line-height: 1.4;
    margin: 0.5rem 0;

  }

  .footer-contact-email {
    font-size: 1rem;
    font-weight: 700;
    color: #064E3B;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-social li a {
    background-color: #074F51;
    color: #fff;
    font-size: 18px;
  }
  .footer-links p{
    margin-bottom: 0.2rem;
  }
}