.footer {
  background-color: #A8EF8A;
  padding: .5rem 6rem;
  border-radius: 6px 6px 0 0;
  text-align: center;
  font-family: 'Lato', sans-serif; 
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-tagline {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.5rem;
}

.footer-copyright {
  font-size: 0.875rem;
  color: #222;
  margin-bottom: 0;
  font-weight: 400;
}

/* Social Icons */
.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social li a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: white;
  color: #004C45;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.footer-social li a:hover {
  background-color: #e0e0e0;
  color: #004C45;
}
.footer-legal {
  display: flex;
  justify-content: center;
  gap: 7rem;
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.footer-legal li a {
  font-size: 0.875rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.footer-legal li a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
 .footer {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem;
    display: inline-block;
}
  .footer-tagline {
    font-size: 1rem;
  }

  .footer-copyright {
    font-size: 0.75rem;
  }

  .footer-social li a {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }
  .footer-legal {
    gap: 2rem;
  }
}
