.ticker-number-animate {
    animation: tickFade 0.4s ease-in-out;
  }
  
  @keyframes tickFade {
    0% {
      opacity: 0;
      transform: translateY(-10%);
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0.9;
    }
  }
  