* {
  box-sizing: border-box;
}
.hero2 {
  background-size: cover;
  width: 100%;
  height: 400px;
  padding: 0; 
  background-position: center;
  background-repeat: no-repeat;


}

.hero2-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;


}

.hero2-text-wrapper {
  max-width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.hero2-heading {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero2-subtext {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.hero2-btn {
  padding: 0.75rem 1.5rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
}

.hero2-image-wrapper {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: center;    
  align-items: flex-end;  
    margin-bottom: -40px;
  overflow: hidden;
  
}

.hero2-image {
  max-width: 90%;
  height: auto;
  margin: 0;          
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  
  .hero2 {
    width: 100vw;               /* full screen width */
    height: 100vh;              /* full screen height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  .hero2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;


  }

  .hero2-text-wrapper {
    align-items: start;
    text-align: start;
    margin-top: 60px;
    max-width: 100%;
    padding: 1rem;


  }

  .hero2-heading {
    font-size: 2rem;
  }

  .hero2-subtext {
    font-size: 1rem;
  }

  .hero2-btn {
    width: 100%;
    max-width: 200px;
    
  }

  .hero2-image-wrapper {

  width: 452px;
  height: 452px;
  display: flex;
  justify-content: center;    
  align-items: flex-end;      
  overflow: hidden;
  margin-bottom: 0px;
  }
  

  .hero2-image {
    max-width: 90%;
    height: auto;
    margin: 0;             
  }
}
