.hero-section,
.hero-section h1,
.hero-section p,
.hero-section a {
  font-family: 'Lato', sans-serif;
}
  
.hero-section {
    position: relative;
    overflow: hidden;
  }
  
  .hero-text h1 span {
    display: inline-block;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
